/*
Colors
#0E0108
#f0f0f1
#212f41
#d78a2b
#d67c1f
*/
html {
    height: 100%;
}
body {
    height: inherit;
    background-color: #f0f0f1;
    font-family: 'Muli', sans-serif;
}
.navbar {
    margin-bottom: 0px;
}
/*Brand color*/
.navbar-default .navbar-brand {
    color: #f0f0f1;
    text-transform: uppercase;
}
.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
}
.navbar-toggle {
    display: block;
    border: 0;
    outline: 0 !important;
}
/*Navbar stay collapsed*/
@media (max-width: 9999px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
/*end of collapsed code override*/

/*Navbar button color*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f0f0f1;
}
/*Remove hover style*/
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
/*Remove  navbar menu top border*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
/*Nav bar menu links colors*/
.navbar-default .navbar-nav>li>a {
    color: #f0f0f1;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-height: 1240px;
}
.bkg-img {
    height: 100%;
    max-height: 1240px;
    background-image: url(../images/hero-large.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-contents {
    padding-top: 20%;
}
@media (max-width:  1024px) {
        .hero-contents {
            padding-top: 20%;
        }
}
@media (max-width:  768px) {
        .hero-contents {
            padding-top: 25%;
        }
}
@media (max-width:  425px) {
        .hero-contents {
            padding-top: 40%;
        }
}
@media (max-width:  320px) {
        .hero-contents {
            padding-top: 60%;
        }
}
h1 {
    font-size: 60px;
    color: #f0f0f1;
}
h2 {
    font-size: 50px;
    color: #f0f0f1;
}
h3 {
    font-size: 50px;
    text-transform: uppercase;
    color: #0E0108;
    /*Over-ride bs margins for h3*/
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 5px 5px 6px rgba(150, 150, 150, 0.5);
}
h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
p {
    font-size: 16px;
}
.centered-text {
    text-align: center;
}
.thumbnail {
    margin-top: 20px;
    background-color: transparent;
    border: 0px solid transparent;
}
.thumbnail>img {
    margin-top: 10px;
    margin-bottom: 10px;
}
#work-together-banner {
    font-weight: bold;
    font-size: 40px;
}
#work-together-text {
    font-weight: normal;
    font-size: 20px;
}
.skill-icons {
    font-size: 50px;
}
.social-icons {
    font-size: 30px;
}
a {
    color: #0E0108;
}
a:focus, a:hover {
    color: #0E0108;
}
.margin-space-lg {
    margin-top: 50px;
    margin-bottom: 50px;
}
.margin-space-sm {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Colors*/
#sec-work-together {
    background-color: #d78a2b;
}
