/*General Styles*/
* {
    margin: 0;
    padding: 0;
}

html {
    color: #fdf9ff;
}

body {
    background-color: #393e41;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #393e41;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    padding: 10px 0px 10px 10px;
}

section {
    padding: 150px 20%;
}
@media screen and (max-width: 1150px) {
    section{
        padding: 150px 10%;
    }
}
@media screen and (max-width: 880px) {
    section{
        padding: 150px 1%;
    }
}

.flex {
    display: flex;
}

@media screen and (max-width: 625px) {
    .flex {
        flex-direction: column;
    }
}

.name-color-change {
    color: #e52020;
}

button:focus {
    outline: none;
}

/*General Animations*/
.animation-element.slide-left {
    transform: translateX(-1500px);
    transition: transform 1s ease-in-out;
}

.animation-element.slide-right {
    transform: translateX(1500px);
    transition: transform 1s ease-in-out;
}

.animation-element.slide-left.animated,
.animation-element.slide-right.animated {
    transform: translateX(0px);
}

/*Accent under each section title*/
.animation-element.accent {
    background-color: #e52020;
    width: 0px;
    height: 5px;
    margin: 5px auto 50px;
    transition: width .5s linear 1s;
}

.animation-element.accent.animated {
    width: 65px;
}

/*Section Titles*/
h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    color: #393e41;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

/*Nav Styles*/
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #393e41;
    color: #fdf9ff;
    text-transform: uppercase;
    font-size: 16px;
    width: 60%;
    padding: 10px 20%;
    margin: auto;
}

nav {
    display: flex;
    justify-content:space-between;
    padding: 5px 10px;
    background-color:  #393e41;
    /*make border happen at a scroll position*/
    /*border-bottom: 4px solid #e52020;*/
    opacity: 0.9;
}

#brand {
    font-size: 16px;
}

nav ul {
    background-color: #393e41;
    color: #fdf9ff;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 0 0 0 24px;
}

.nav-btn {
    padding: 0;
    display: none;
}

.show {
    height: 280px;
}

.active {
    color: #e52020;
}

@media screen and (max-width: 1150px) {
    header {
        width: 80%;
        padding: 0px 10%;
    }
}

@media screen and (max-width: 880px) {
    header {
        width: 100%;
        padding: 0px 0%;
    }

    nav ul {
        width: 100%;
        position: absolute;
        height: 0px;
        top: 40px;
        left: 0;
        text-align: center;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        padding: 18px 0 0 0;
    }

    #brand {
        font-size: 24px;
    }

    .nav-btn {
        display: block;
    }
}

/*Hero Styles*/
#hero {
    height: 100vh;
    background-color: #393e41;
}

#center-info {
    margin: auto;
    text-align: center;
    font-size: 48px;
}

@media screen and (max-width: 500px) {
    #center-info {
        font-size: 36px;
    }
}

section:first-of-type div p:last-of-type {
    margin-bottom: 20px;
}

section:nth-of-type(1) div p {
    color:  #fdf9ff;
}

section:first-of-type div button {
    padding: 10px 0px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #fdf9ff;
    color: #fdf9ff;
    text-transform: uppercase;
    font: inherit;
    font-size: 24px;
    transition: background-color 1s ease-in-out,
    border-color 1s ease-in-out,
    box-shadow .2s ease-in-out,
    transform .2s linear;
}

section:first-of-type div button:hover {
    background-color: #e52020;
    border-color: rgba(0,0,0,0);
    box-shadow: 5px 5px rgba(0,0,0,.3);
}

section:first-of-type div button:active {
  box-shadow: 0px 0px rgba(0,0,0,.3);
  transform: translateY(5px);
}

button i {
    padding: 0 10px;
    transition: transform .5s ease-in-out, padding 1s ease-in-out;
}

button:hover i {
    padding: 0 20px;
}

button:hover i:nth-of-type(1) {
    transform: rotate(-0.25turn);
}

button:hover i:nth-of-type(2) {
    transform: rotate(0.25turn);
}

/*Skills Styles*/
#skills {
    background-color: #fdf9ff;
    color: #393e41;
}

.skill-set {
    text-align: center;
    padding: 60px 100px;
}

@media screen and (max-width: 625px) {
    .skill-set{
        padding: 30px 100px;
    }
}

.skill-set * {
    padding: 10px 0;
}

.skill-icon {
    font-size: 40px;
    color: #e52020;
}

.skill-bars-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-bar {
    height: 25px;
    width: 100%;
    display: flex;
    border: 2px solid #393e41;
    background-color: #e6e3e8;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-box {
    background-color: #393e41;
    color:#fdf9ff;
    width: 15%;
    min-width: 100px;
    text-align: center;
    padding-top: 4px;
    text-transform: uppercase;
}

.skill-fill-1 {
    background-color:  #e52020;
    width: 60%;
}
.skill-fill-2 {
    background-color:  #e52020;
    width: 60%;
}
.skill-fill-3 {
    background-color:  #e52020;
    width: 40%;
}
.skill-fill-4 {
    background-color:  #e52020;
    width: 30%;
}
.skill-fill-5 {
    background-color:  #e52020;
    width: 80%;
}

/*Projects Styles*/
#projects {
    color: #393e41;
    background-color: #e6e3e8;
}

#grid {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    width: 100%;
}

.image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:  #fdf9ff;
    height: 250px;
}

.img-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    transition: background-color .25s ease-in;
    overflow: hidden;
}

.img-info:hover {
    background-color: #393e41;
}

.img-info h3, .img-info h4 {
    color: #fdf9ff;
}

.img-info h3{
    transform: translateX(-500px);
    transition: transform .5s ease-in-out;
}

 .img-info h4  {
     transform: translateX(500px);
     transition: transform .5s ease-in-out;
 }

 .img-info:hover h3 {
      transform: translateX(0px);
 }

 .img-info:hover h4 {
      transform: translateX(0px);
 }

.img-info button {
    flex-basis: auto;
    font-size: 16px;
    background-color: rgba(0,0,0,0);
    border: 0px solid rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    padding: 10px;
    border-radius: 0;
    transition: border .25s ease-in, color 1s ease-in;
}

.img-info:hover button {
    background-color: rgba(0,0,0,0);
    border: 2px solid #fdf9ff;
    color: #fdf9ff;
}


.image:nth-of-type(1) {
    background-image: url(../images/project1.jpg);
}
.image:nth-of-type(2) {
    background-image: url(../images/project2w.jpg);
}
.image:nth-of-type(3) {
    background-image: url(../images/project3.jpg);
}
.image:nth-of-type(4) {
    background-image: url(../images/project4w.jpg);
}
.image:nth-of-type(5) {
    background-image: url(../images/project5.jpg);
}
.image:nth-of-type(6) {
    background-image: url(../images/project6.jpg);
}
.image:nth-of-type(7) {
    background-image: url(../images/project7.jpg);
}
.image:nth-of-type(8) {
    background-image: url(../images/project8.jpg);
}
.image:nth-of-type(9) {
    background-image: url(../images/project9w.jpg);
}


.img-reg {
    flex-basis: 25%;
}
.img-wide {
    flex-basis: 50%;
}

@media screen and (max-width: 1100px) {
    .image{
        height:400px;
    }
    .img-reg {
        flex-basis: 50%;
    }
    .img-wide {
        flex-basis: 100%;
        order: -1;
    }
}

@media screen and (max-width: 800px) {
    .img-reg,
    .img-wide {
        flex-basis: 100%;
    }
}

/*About Styles*/
#about {
    background-color: #fdf9ff;
    color: #393e41;
}

#about div.flex {

}

#about div.flex img {
    max-height: 400px;
}

section:nth-of-type(4) div:nth-of-type(2){
    justify-content: center;
    margin-top: 75px;
}

@media screen and (max-width: 800px) {
    section:nth-of-type(4) div:nth-of-type(2){
        flex-direction: column;
        align-items: center;
    }
    #about-right {
        padding-top: 20px;
    }
    #about-right p {
        max-width: 400px;
    }
}

#about div img {

}

#about-right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0 30px;
    background-color: #e6e3e8;
    text-align: center;
}

#about-right p{
    margin-bottom: 10px;
    line-height: 150%;
}

div > button {
    flex-basis: 150px;
    font-size: 20px;
    background-color: #393e41;
    color: #fdf9ff;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 0;
}

/*Transition Image styles*/
.transition-img {
    width: 100%;
}

/*Contact Styles*/
section:nth-of-type(5) h1{
    color: #fdf9ff;
}

form {
    padding-top: 50px;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    form {
        width: 80%;
    }
}

input, textarea {
    width: 95%;
    border: 0;
    padding: 10px;
    margin: 10px 0;
    background-color: #fdf9ff;
    color: #393e41;
}

/*form > button {
    background-color: #e52020;
    color: #fdf9ff;
    padding: 10px 30px;
    font-size: 12px;
    border: 0;

}*/

form button {
    padding: 5px 10px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #fdf9ff;
    color: #fdf9ff;
    text-transform: uppercase;
    font: inherit;
    font-size: 18px;
    transition: background-color 1s ease-in-out,
    border-color 1s ease-in-out,
    box-shadow .2s ease-in-out,
    transform .2s linear;
}

form button:hover {
    background-color: #e52020;
    border-color: rgba(0,0,0,0);
    box-shadow: 5px 5px rgba(0,0,0,.3);
}

form button:active {
  box-shadow: 0px 0px rgba(0,0,0,.3);
  transform: translateY(5px);
}

/*Footer Styles*/
footer {
    text-align: center;
}

footer p {
    padding: 10px 0;
    color: #fdf9ff;
}
